<form (submit)="saveBand()" [formGroup]="bandForm">

  <div>
    <img src="{{pictureUrl}}" class="band__imageBandview"/>
    <button class="btn-bandView btn" type="button" (click)="editPicture()" *ngIf="hasPicture && bandOwner">Edit Picture</button>
    <input class="form-control" *ngIf="!hasPicture && bandOwner" type="text" formControlName="bandPicture"
           placeholder="Insert image URL...">
    <div
      *ngIf="bandForm.controls.bandPicture.invalid && (bandForm.controls.bandPicture.dirty || bandForm.controls.bandPicture.touched)"
      class="alert alert-danger">
      Please enter a valid URL!
    </div>
  </div>


  <div class="container bandview">
    <!--div align="center">
      <h1>{{bandForm.value.name}}</h1>
    </div-->

    <!--div class="col-md-8 offset-2">
      <img src="{{bandForm.value.bandPicture}}" class="band__imageBandview"/>
    </div-->
    <div class="bandName">
      <h1>{{bandForm.value.name}}</h1>
    </div>

    <div class="row">
      <!-- Info Column -->
      <div class="col info">
        <h2>Infos</h2>

        <div [formGroup]="memberForm">
          <!-- Member Info -->
          <div *ngFor="let member of members" class="row mb-1 form-group">
            <div class="col-sm-5">
              <input id="role" type="text" name="role" [value]="member.role" disabled
                     class="form-control infoInput"/>
            </div>
            <div class="col-sm-6">
              <input id="name" type="text" name="name" [value]="member.name" disabled
                     class="form-control infoInput"/>
            </div>
            <div class="col-sm-1">
              <button *ngIf="bandOwner" (click)="deleteMember(member)" type="button" class="btn btn-bandView"><i class="fa fa-trash"></i>
              </button>
            </div>
          </div>

          <!-- new Member -->
          <div class="row mb-5" *ngIf="bandOwner">
            <div class="col-sm-5">
              <input id="newRole" type="text" name="role" formControlName="role" value=""
                     class="form-control infoInput"/>
            </div>
            <div class="col-sm-6">
              <input id="newMember" type="text" name="name" formControlName="name" value=""
                     class="form-control infoInput"/>
            </div>

            <div class="col-sm-1 ">
              <button type="button" (click)="addMember()" [disabled]="memberForm.invalid" class="btn btn-bandView"><i class="fa fa-plus"></i></button>
            </div>
            <div *ngIf="(memberForm.controls.role.invalid && (memberForm.controls.role.dirty || memberForm.controls.role.touched)) ||
                (memberForm.controls.name.invalid && (memberForm.controls.name.dirty || memberForm.controls.name.touched))"
                 class="alert alert-danger">
              Please enter a name and a role!
            </div>
          </div>
        </div>
        <!-- other Info -->
        <div class="row mb-1">
          <div class="col-sm-5">
            <label class="infoLabel">Founding Year</label>
          </div>
          <div class="col-sm-7">
            <input id="foundingYear" type="text" name="foundingYear" formControlName="foundingYear"
                   class="form-control infoInput" value="{{bandForm.value.foundingYear}}" [readonly]="!bandOwner"/>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-sm-5">
            <label class="infoLabel">Country</label>
          </div>
          <div class="col-sm-7">
            <ngx-select id="country" [items]="countries" optionValueField="id" optionTextField="name" name="country"
                        [noAutoComplete]="true"
                        formControlName="country" [disabled]="!bandOwner"></ngx-select>

          </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
          <div class="col-sm-5">
            <label class="infoLabel">Genre</label>
          </div>
          <div class="col-sm-7">
            <input id="genre" type="text" name="genre" formControlName="genre"
                   class="form-control infoInput" value="{{bandForm.value.genre}}" [readonly]="!bandOwner"/>
          </div>
        </div>
      </div>

      <!-- Event column -->
      <div class="col events-bandview">
        <h2>Events</h2>
        <div class="container" [formGroup]="eventForm">
          <div class="row row-striped" *ngFor="let event of events">
            <div class="col-2 text-right">
              <h1 class="display-4"><span class="badge badge-secondary">{{event.date | date:'dd'}}</span></h1>
              <h2>{{event.date | date:'MMM'}}</h2>
            </div>
            <div class="col-10">
              <h3 class="text-uppercase"><strong>{{event.name}}</strong></h3>
              <button class="btn pull-right" type="button" tooltip="Delete the event" (click)="deleteEvent(event)" *ngIf="bandOwner"><i class="fa fa-trash"></i></button>
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{event.date |
                  date:'EE'}}
                </li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{event.date |
                  date:'HH:mm'}}
                </li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                  {{event.hostCountry}}, {{event.place}}
                </li>
              </ul>
              <p>{{event.eventType}}</p>
            </div>
          </div>
        </div>
        <div class="row mt-1 pull-right">
          <button class="btn" *ngIf="bandOwner" type="button" (click)="openModal(template)">Add <i class="fa fa-plus"></i></button>
        </div>

      </div>
    </div>

  </div>
  <button type="submit" *ngIf="bandOwner" class="btn btn-outline-success btn-save col-12 mb-3 mt-2">Save</button>
</form>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Event</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="addEvent()" [formGroup]="eventForm">
    <div class="modal-body" (ngSubmit)="addEvent()">
      <div class="row mb-1">
        <div class="col-md-4">
          <label for="eventName">Name:</label>
        </div>
        <div class="col-md-8">
          <input id="eventName" type="text" name="name" formControlName="name" value=""
                 class="form-control"/>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-4">
          <label for="location">Location:</label>
        </div>
        <div class="col-md-8">
          <input id="location" type="text" name="location" formControlName="place" value=""
                 class="form-control"/>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-4">
          <label for="date">Date:</label>
        </div>
        <div class="col-md-8">
          <input id="date" bsDatepicker type="text" name="date" formControlName="date" value=""
                 class="form-control" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" placeholder="Select a date..."/>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-4">
          <label for="type">Type:</label>
        </div>
        <div class="col-md-8">
          <input id="type" type="text" name="type" formControlName="eventType" value=""
                 class="form-control"/>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-4">
          <label for="type">Host Country:</label>
        </div>
        <div class="col-md-8">
          <ngx-select id="hostCountry" [items]="countries" optionValueField="id" optionTextField="name" name="country"
                      placeholder="Select a country..." [noAutoComplete]="true"
                      formControlName="hostCountry"></ngx-select>
        </div>
      </div>

      <div class="row pull-right mr-1 mb-1">
        <button class="btn btn-bandView" type="submit" [disabled]="eventForm.invalid">Save</button>
      </div>
      <div *ngIf="eventForm.invalid && (eventForm.controls.hostCountry.dirty)"
           class="row pull-left alert alert-danger">
        Please enter the information above!
      </div>


    </div>

  </form>
</ng-template>
