<div *ngIf="bands.length != 0">
<div class="container">
  <div class="row">
    <div class="col-sm-6 bandButton" *ngFor="let band of bands">
      <img src="{{band.bandPicture}}" class="band__image"/>
      <button type="button" (click)="navBand(band.id)">{{band.name}}</button>
      <p class="band__description">
        {{band.description}}
      </p>
    </div>
  </div>
</div>
</div>
<div *ngIf="bands.length === 0">
  <div>
    <h1 class="page-empty">Be the first Band on the super amazing BP!</h1>
  </div>
</div>
