<div class="login">
  <form (ngSubmit)="login()">
    <label>
      <input class="form-control input-login" type="text" placeholder="Username" name="username" [(ngModel)]="user.username"/>
    </label>
    <br>

      <show-hide-password style="width: 50%" size="lg" icon="fontawesome" btnStyle="success" [btnOutline]="false">
       <input class="form-control input-login" type="password" placeholder="Password" name="password" [(ngModel)]="user.password"/>
      </show-hide-password>
    <br>
    <button class="btn btn-outline-success btn-login" type="submit">
      Login
    </button>
  </form>
</div>


