<div class="login">
  <form (ngSubmit)="login()">
    <label>
      <input class="form-control input-login" type="text" placeholder="Username" name="username" [(ngModel)]="user.username"/>
    </label>
    <br>
    <label>
      <input class="form-control input-login" type="text" placeholder="Password" name="password" [(ngModel)]="user.password"/>
    </label>
    <br>
    <button class="btn btn-outline-success btn-login" type="submit">
      Login
    </button>
  </form>
</div>


