<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="login">
  <form (ngSubmit)="login()">
    <label>
      <input class="form-control input-login" type="text" placeholder="Username" name="username" [(ngModel)]="user.username"/>
    </label>
    <br>
    <label>
      <input class="form-control input-login" type="text" placeholder="Password" name="password" [(ngModel)]="user.password"/>
    </label>
    <br>
    <button class="btn btn-outline-success btn-login" type="submit">
      Login
    </button>
  </form>
</div>


