<h1 class="events">Upcoming Events!</h1>
<div class="row">
  <!--div class="col-sm-6 search-input">
    <input class="form-control" type="search" placeholder="Search..." aria-label="Search">
    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
  </div-->
</div>
<div class="container">
  <div class="row row-striped" *ngFor="let event of events">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">{{event.date | date: 'dd'}}</span></h1>
      <h2>{{event.date | date: 'MMM'}}</h2>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>{{event.name}}</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{event.date | date:'EE'}}</li>
        <!--li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{event.date | date:'HH:mm'}}</li-->
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{event.place}}</li>
      </ul>
      <p>{{event.eventType}}</p>
    </div>
  </div>
</div>
