.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
  padding: 15px 0;
}

.events {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 100px;
}

.search-input {
  margin-left: 35%;
}

.search-input input {
  width: 50%;
  margin-bottom: 40px;
  float: left;
}

.search-input button {
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  //height: 40px;

}

.search-input button:hover {
  background: #ccc;
}

h1 {
  color: lightgrey;
}
