<h1 class="events">Upcoming Events!</h1>
<div class="col-md-12 offset-4">
  <input class="form-control search" type="search" placeholder="Search..." aria-label="Search">
</div>

<div class="container">
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
      <h2>OCT</h2>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Queen</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Eichberg</li>
      </ul>
      <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
      <h2>OCT</h2>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Linkin Park</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Graz</li>
      </ul>
      <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
      <h2>OCT</h2>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Queen</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Eichberg</li>
      </ul>
      <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
      <h2>OCT</h2>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Queen</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Eichberg</li>
      </ul>
      <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
      <h2>OCT</h2>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Queen</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Eichberg</li>
      </ul>
      <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
      <h2>OCT</h2>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Queen</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Eichberg</li>
      </ul>
      <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
