body{
  background-image: url(images/background.png);
  background-attachment: fixed;
  background-position: center;

}

// Navbar

.house {
  background: lightgrey;
}

// Home Component

.band__image {
  width: 100%;
  height: 350px;
  margin-top: 60px;
  box-shadow: 0 25px 29px 0 rgba(0, 0, 0, 0.48), 0 27px 71px 0 rgba(0, 0, 0, 0.35);
}

.band__description {
  width: 100%;
  height: auto
}

.band__description {
  color: aliceblue;
}

.bandButton {

  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: lightgrey ;
    font-size: 40px;
    padding-left: 0px;
    margin-top: 15px;
  }
}

// Login / Logout

.login {
  margin-top: 15%;
  margin-left: 35%;
}

.btn-login {
  width: 40%;
  height: 50px;
}

.input-login {
  width: 150%;
  height: 50px;
  margin-bottom: 10px;
}

.btn-logout {
  margin-right: -13%;
  margin-top: -10%;
}
