/* You can add global styles to this file, and also import other style files */





body{
  background-image: url(images/background.png);
  background-attachment: fixed;
  background-position: center;

}

/*body {
  background-color: 	#505761;
    // #434a54;


    //#4b4b54;
}
*/
