body{
  background-image: url(images/background.png);
  background-attachment: fixed;
  background-position: center;

}

// Navbar

.house {
  background: lightgrey;
}

// Home

.band__image {
  width: 100%;
  height: 350px;
  margin-top: 60px;
  box-shadow: 0 25px 29px 0 rgba(0, 0, 0, 0.48), 0 27px 71px 0 rgba(0, 0, 0, 0.35);
}

.band__description {
  width: 100%;
  height: auto;
  font-size: 1.5em;
  color: darkgray;
  padding-right: 0px;

}


.bandButton {

  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: lightgrey ;
    //font-size: 40px;
    padding-left: 0px;
    margin-top: 15px;
    font-size: 600%;
  }
}

// Login / Logout

.login {
  margin-top: 15%;
  //margin-left: 35%;

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

.btn-login {
  width: 40%;
  height: 50px;
}

.input-login {
  width: 150%;
  height: 50px;
  margin-bottom: 10px;
}

.btn-logout {
  margin-right: -13%;
  margin-top: -10%;
}

// Events

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
  padding: 15px 0;
}

.events {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 100px;
  color: lightgrey;
}

.info {
  //margin-left: 5%;
  //margin-right: 2.5%;
  margin-top: 5%;
  margin-bottom: 10%;

  h2 {
    font-size: 600%;
    margin-left: -30%;

  }
}

.infos-events {
  padding-left: 5%;
  padding-right: 5%;
}

.events-bandview {
  //margin-right: -14%;
  //margin-left: 2.5%;
  margin-top: 5%;

  h2 {
    font-size: 600%;

  }

  h4 {

    color: lightgrey;
    font-size: 80px;
  }
  h5 {
    text-align: center;
    font-size: 50px;
    //padding-bottom: 50px;
    color: darkgray;
  }

  h6 {
    font-size: 40px;
    //padding-bottom: 50px;
    color: #585656;
  }

  p {
    font-size: 30px;
    color: #585656;
  }

}



.general {
  margin-top: 10%;


}

.infoInput:disabled {
  background-color: white;
}

.page-empty {
  text-align: center;
  font-size: 100px;
  color: lightgrey;
  margin-top: 200px;
}



/*.search-input {
  margin-left: 35%;
}

.search-input input {
  width: 50%;
  margin-bottom: 40px;
  float: left;
}

.search-input button {
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  //height: 40px;

}

.search-input button:hover {
  background: #ccc;
}*/


// Banduser List

.btn-create {
  width: 100%;
  height: 50px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: -15px;
}

.btn-delete {
  width: 25%;
  color: red;
  border-color: red;
  margin-bottom: 3px;
  margin-top: 8px;
}

.btn-delete:hover {
  color: white;
  background-color: red;
}

.btn-edit {
  width: 25%;
  color: orange;
  border-color: orange;
  margin-right: 3px;
  margin-left: 7px;
  margin-bottom: 3px;
  margin-top: 8px;
}

.btn-edit:hover {
  color: white;
  background-color: orange;

}

.user-list {
  color: black;
  width: 200px;
  text-align: center;
  font-size: 98%;
  margin-top: 8px;
}



// Bandview

.bandview {
  h1 {
    padding-top: 60px;
    color: lightgrey;
    font-size: 100px;
  }
  h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    color: lightgrey;
  }
}


.btn-bandView {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 5px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.btn-bandView:hover {
  background-color: RoyalBlue;
}

.band__imageBandview {
  width: 100%;
  //height: 730px;
  height: 100%;
  //margin-top: 60px;
 // margin-bottom: 60px;
 // margin-left: -15%;

  filter: blur(4px);
  -webkit-filter: blur(3px);
}

.saveBandView {
  width: 74%;
  margin-top: 5%;
}

/* Position text in the middle of the page/image */
.bandName {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;

  h1 {
    margin-bottom: 80px;
    font-size: 120px;
  }


}

/*.bandAlbum {
  h1 {
    padding-top: 20px;
    color: lightgrey;
    font-size: 100px;
  }
  h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    color: lightgrey;
  }
  padding-left: 5%;
  padding-right: 5%;
}*/

.infoLabel {
  color: lightgrey;
  font-style: italic;
  font-size: 170%;
  font-weight: bold;

}

.table-list {
  color: lightgrey;
  font-size: 130%;

}
